

<!-- aqui llamo componentes y paginas  -->

<!-- <router-outlet></router-outlet> -->


<div id="div">

    <header>
      <div>
        <img src="\assets\ilerna_logo.png" alt="">
      </div>
      <nav>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contactos</a></li>
        </ul>

      </nav>
    </header>

    <section>
      <article>
        <h2> Este es el titulo de mi sitio web</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque neque consequatur vero ullam dicta voluptatum sequi corrupti veniam ex consectetur labore, iusto placeat asperiores temporibus perferendis beatae accusamus eos rem?
      </article>

      <article>
        <h2> Este es el titulo de mi sitio web</h2>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure excepturi, quaerat sed, iste quos rerum nobis cum necessitatibus ullam eaque exercitationem voluptates architecto rem asperiores velit repudiandae, libero debitis. Debitis?
      </article>
    </section>

    <aside>
      <h3> ESTE ES MI ASIDE</h3>

     Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis fugiat dolor saepe aliquam eos nam ut tempore in maxime ipsam quod culpa atque, porro nesciunt nostrum, consectetur, inventore beatae optio!
    </aside>

  <footer>
    <p>Lucian Stoica</p>

  </footer>


  </div>
